*{
  margin: 0;
}

.app{
  background-color:#ffeb9b ;
  height: 100vh;
}

.app__header{
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #FFDE59;
  object-fit: contain;
  border-bottom: 1px solid #efb300;
  display: flex;
  justify-content: space-between;

}



.app__posts{
padding: 20px;
display: flex;
flex-direction: column;
justify-content: center;

}



.sorry{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  background-color: #FFDE59;
}

.postss{
  margin-left: auto;
  margin-right: auto;
}

.btn_modal{
  margin: 4px !important;
}

.app__signup{
  display: flex !important;
  flex-direction: column !important; 
}

.btnsignupmodal{
  margin-top: 5px !important;
}

.app__headerimage{
  object-fit: contain;
}